.about {
    height: 100dvh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1;
  }
  
  .text {
    text-align: justify;
    width: 80%;
  }
  
  .profpic {
    width: 15rem;
    border-radius: 50%;
    margin: 1rem auto;
  }
  
  .profpic {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .text {
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  #morphBlur {
    display: inline-block;
    background-color: #8e44ad;
    height: 12em;
    aspect-ratio: 1;
    position: absolute;
    top: 3em;
    left: 30em;
    z-index: -1;
    animation: move 6s ease-in-out forwards infinite alternate;
    filter: blur(6em);
  }
  
  @keyframes move {
    50% {
      top: 6em;
      left: 8em;
    }
    100% {
      top: 20em;
      left: 12em;
    }
  }
  
  #morphBlur::before, #morphBlur::after {
    content: '';
    display: block;
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: inherit;
  }
  
  #morphBlur::before {
    top: -12em;
    right: 9em;
    animation: moveBefore 3s ease-in-out forwards infinite alternate;
  }
  
  @keyframes moveBefore {
    35% {
      top: 12em;
      right: 12em;
    }
    100% {
      top: 3em;
      right: 3em;
    }
  }
  
  #morphBlur::after {
    bottom: -4em;
    right: -15em;
    animation: moveAfter 8s ease-in-out forwards infinite alternate;
  }
  
  @keyframes moveAfter {
    30% {
      bottom: 12em;
      left: 0em;
    }
    100% {
      bottom: 0em;
      left: 22em;
    }
  }

  @media (max-width: 1000px) {
    .profpic {
        width: 11rem;
    }

    .text {
        text-align: left;
        width: 90%;
    }
  }

  @media (max-width: 700px) {
    .profpic {
      width: 8rem;
    }
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 1.6rem;
    }

    .text {
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    h1 {
      font-size: 1.2rem;
      margin-top: 0;
    }

    .text {
        font-size: 1.1rem;
    }
}

@media (max-width: 400px) {
    h1 {
      font-size: 1.3rem;
      margin-top: 0;
    }

    .text {
        font-size: 1.2rem;
    }
}