*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 22px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --navBg: orange;
  --bgDark: #343a40;
  --lightBg: #f8f398;
  --darkBg: black;
  --lightBgb: #d7d8da;
  --fontDark: orange;
}

.logo {
  margin: 0 1rem;
  width: 2.5em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

nav a {
  margin: 0 1rem;
}

nav button {
  margin-right: 2rem;
}

nav a:hover,
nav a.active {
  background: var(--navBg);
  transition: 0.5s ease-out;
}

.collapse {
  margin-right: 3rem;
}

.switch {
  position: fixed;
  top: 10rem;
}

.toggle {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: white;
  position: fixed;
  right: 5rem;
  display: flex;
  justify-content: space-around;
}

.lang {
  right: 8rem;
  font-size: 16px;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
}

#about {
  height: 100dvh;
  position: relative;
  overflow: hidden;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1;
}

.text {
  text-align: justify;
  width: 80%;
}

.profpic {
  width: 15rem;
  border-radius: 50%;
  margin: 1rem auto;
}

.profpic {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.text {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

#morphBlur {
  display: inline-block;
  background-color: #8e44ad;
  height: 12em;
  aspect-ratio: 1;
  position: absolute;
  top: 3em;
  left: 30em;
  z-index: -1;
  animation: move 6s ease-in-out forwards infinite alternate;
  filter: blur(6em);
}

@keyframes move {
  50% {
    top: 6em;
    left: 8em;
  }
  100% {
    top: 20em;
    left: 12em;
  }
}

#morphBlur::before, #morphBlur::after {
  content: '';
  display: block;
  position:absolute;
  height: 100%;
  width: 100%;
  background-color: inherit;
}

#morphBlur::before {
  top: -12em;
  right: 9em;
  animation: moveBefore 3s ease-in-out forwards infinite alternate;
}

@keyframes moveBefore {
  35% {
    top: 12em;
    right: 12em;
  }
  100% {
    top: 3em;
    right: 3em;
  }
}

#morphBlur::after {
  bottom: -4em;
  right: -15em;
  animation: moveAfter 8s ease-in-out forwards infinite alternate;
}

@keyframes moveAfter {
  30% {
    bottom: 12em;
    left: 0em;
  }
  100% {
    bottom: 0em;
    left: 22em;
  }
}



#skills {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bglight {
  background-color: var(--lightBg);
}

.bgdark {
  background-color: var(--darkBg);
  color: var(--fontDark);
}

.bgblue {
  background-color: var(--lightBgb);
}

.bggray {
  background-color: var(--bgDark);
  color: var(--fontDark);
}

.icons .other {
  width: 50%;
}

.icons {
  font-size: 5rem;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

h2 {
  text-align: center;
}

.list {
  text-align: center;
}

.list h3 {
  margin-bottom: 2rem;
}

#courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.certContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.certContainer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.cert {
  width: 90%;
}

.modal {
  background-color: var(--bgDark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal img {
  width: 50%;
  margin: 1rem 0;
}

.modalNav {
  display: flex;
  justify-content: center;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
}

.closebtn {
  border-radius: 5px;
  margin: 0 1rem;
}

#projects {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.projectImg {
  width: 100%;
  border-radius: 50px;
}

h3 {
  text-align: center;
}

.link {
  text-decoration: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.link a {
  color: var(--fontDark);
}

.footer {
  background-color: #212529;
  color: #838688;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footericons {
  display: flex;
  gap: 1rem;
}

.footer a {
  color: var(--fontDark);
  text-decoration: none;
}

.cv {
  display: flex;
  color: #838688;
  gap: 1rem;
}

.flag {
  width: 1rem;
  height: 1.5rem;
}

@media (max-width: 1400px) {
  .card {
    width: 70%;
  }

  .modal img {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }

  .toggle {
    margin-right: 1rem;
  }

  .text {
    text-align: left;
  }
}

@media (max-width: 800px) {
  #about {
    height: auto;
  }
  .card {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }

  #skills {
    flex-wrap: wrap;
  }

  .icons {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .modal img {
    width: 90%;
  }

  .toggle {
    top: 1rem;
  }

 
}

@media (max-width: 500px) {
  .profpic {
    width: 10rem;
  }
}
